@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url('~@/assets/images/mouse-dark.svg'),
    auto; */

}

body {
  padding: 0 5vw;
  font-family: 'Karla', sans-serif;
}

.vue-typer {
  font-size: 3rem;
  line-height: 5rem;
  font-family: monospace;
}

.vue-typer .custom.char {
  color: #747469;
  /* background-color: #1e1e1e; */
}

.vue-typer .custom.char.selected {
  background-color: #2d9bdb6c;
}

.vue-typer .custom.caret {
  width: 10px;
  background-color: #2d9cdb;
}
