@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url('~@/assets/images/mouse-dark.svg'),
    auto; */

}

body {
  padding: 0 5vw;
  font-family: 'Karla', sans-serif;
}
